

.table_description{
   max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table_name{
   max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#demo-3 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.bodyloadclass {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loader {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid #fff;
    pointer-events: none;
    animation: animate 5s linear infinite;
}
.loader span:nth-child(1) {
    border-radius: 38% 62% 64% 36% / 43% 35% 65% 57%;
}
.loader span:nth-child(2) {
    animation-direction: reverse;
    border-radius: 41% 59% 40% 60% / 65% 66% 34% 35%;
}
.loader span:nth-child(3) {
    animation-duration: 3s;
    border-radius: 73% 27% 56% 44% / 57% 74% 26% 43%;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
h2 {
    color: #fff;
    font-weight: 500;
    font-family: consolas;
}

.overlay08,
.overlay08::before,
.overlay08::after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transition: .3s linear;
}
.overlay08 {
  opacity: 0;
  visibility: hidden;
}
.overlay08::before,
.overlay08::after {
  content: '';
  background: rgba(0, 0, 0, .45);
}
.overlay08::before {
  transform: translateY(-100%);
}
.overlay08::after {
  transform: translateY(100%);
}
.overlay08.is-open {
  opacity: 1;
  visibility: visible;
}
.overlay08.is-open::before,
.overlay08.is-open::after {
  transform: translateY(0);
}